/* === Grid layout === */
.col-xs-l-6.col-xs-12 {
    @media ( min-width: 667px ) and ( max-width: 767px ) {
        width: 50%;
    }
}
.col-xs-6.col-xs-l-offset-2 {
    @media ( min-width: 514px ) and ( max-width: 666px ) {
        width: 33.333333%;
        margin-left: 16.666667%;
    }
    @media ( min-width: 412px ) and ( max-width: 513px ) {
        width: 41.666667%;
        margin-left: 8.333333%;
    }
    @media ( min-width: 375px ) and ( max-width: 411px ) {
        width: 54%;
        margin-left: 23%;
    }
    @media ( max-width: 374px ) {
        width: 60%;
        margin-left: 20%;
    }
}
.col-xs-6.col-xs-l-limit-2 {
    @media ( min-width: 514px ) and ( max-width: 666px ) {
        width: 33.333333%;
    }
    @media ( min-width: 412px ) and ( max-width: 513px ) {
        width: 41.666667%;
    }
    @media ( max-width: 411px ) {
        width: 100%;
        margin-left: 0%;
    }
}
.visible-l-xs {
    @media ( min-width: 412px ) and ( max-width: 767px ) {
        display: none;
    }
}

/* === Result Notes === */
.mst-notes {
    display: table;
    @media ( min-width: 412px ) and ( max-width: 1199px ) {
        display: block;
    }
    .mst-notes-item {
        display: table-row;
        height: 40px;
        @media ( min-width: 412px ) and ( max-width: 1199px ) {
            display: block;
            margin-bottom: 15px;
        }
        & > * {
            display: table-cell;
            @media ( min-width: 412px ) and ( max-width: 1199px ) {
                display: block;
            }
            padding-right: 10px;
        }
        & > label {
            text-transform: uppercase;
            font-weight: 700;
            @media ( min-width: 412px ) and ( max-width: 1199px ) {
                margin-bottom: 3px;
            }
        }
        .mst-notes-content {
            & > p {
                display: inline;
                margin-right: 5px;
            }
            & > p {
                &.time {
                    display: block;
                }
            }
            .time {
                font-weight: 700;
                margin-bottom: 3px;
                @media ( min-width: 412px ) and ( max-width: 1199px ) {
                    margin-bottom: 0px;
                }
            }
            .label {
                margin-right: 10px;
            }
            .change {
                color: #007bb8;
            }
        }
    }
}
.single-section {
    margin-bottom: 30px;
}

/* === Breakdown Area === */
.mst-breakdown-area {
    width: 100%;
    display: table;
    @media ( min-width: 514px ) and ( max-width: 667px ) {
        width: 67.666666%;
        margin-left: 16.666667%;
    }
    @media ( min-width: 412px ) and ( max-width: 513px ) {
        width: 83.333334%;
        margin-left: 8.333333%;
    }
    .mst-breakdown-item {
        display: table-row;
        & > .precentage {
            padding-right: 60px;
            @media ( min-width: 412px ) and ( max-width: 1199px ) {
                padding-right: 15px;
            }
            @media ( min-width: 375px ) and ( max-width: 411px ) {
                padding-right: 5px;
            }
            @media ( max-width: 374px ) {
                padding-right: 0px;
            }
        }
        & > .progress-area {
            width: 100%;
            .progress {
                margin-bottom: 0;
                height: 10px;
                background-color: #e6e6e6;
                border-radius: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
                .progress-bar {
                    box-shadow: none;
                }
                .progress-bar-info {
                    background-color: $brand-info;
                }
            }
        }
        & > * {
            display: table-cell;
            vertical-align: middle;
            padding-right: 15px;
            padding-bottom: 15px;
        }
    }
}

/* === Chart Area === */
.mst-chart-area {
    margin-top: -24px;
    margin-left: -24px;
    margin-right: -15px;
}
.results {
    @media ( min-width: 992px ) and ( max-width: 1199px ) {
        .col-md-5, .col-md-7 {
            width: 50%;
        }
    }
}
.label {
    padding: .3em .5em;
    font-size: 100%;
    @media ( min-width: 412px ) and ( max-width: 1199px ) {
        display: inline-block;
    }
}

/* === MST Post List === */
.mst-title {
    font-size: 24px;
    font-weight: 700;
    color: #606060;
}
.mst-meta {
    color: rgba( 0, 0, 0, 0.5 );
    .mst-meta-item {
        margin-right: 15px;
        font-weight: 700;
        &.mst-user {
            font-weight: 400;
            @media ( max-width: 513px ) {
                display: block;
            }
        }
        &.mst-value {
            color: #007bb8;
        }
        &:last-of-type {
            margin-right: 0;
        }
    }
}
.mst-summary {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 30px;
    margin-bottom: 30px;
}