#mst-skill-test-meta {
    .inside {
        #postcustomstuff {
            margin-top: 12px;
        }
    }
}
.sp-note {
    color: #808080;
}
.add {
    float: right;
    padding: 0 10px 10px;
}
.remove-container {
    padding: 7px 7px 0 0;
    .remove-row {
        padding-top: 3px;
    }
}